<div class="container p-3">
  <h1><%= @cocktail.name %></h1>
  <div class="recipe mt-4">
    <div class="recipe-title d-flex justify-content-between">
      <h3>Recipe</h3>
      <%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-success btn-xs' %>
    </div>
    <hr>
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= "#{dose.ingredient.name} - #{dose.description}" %>
          <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt delete-icon"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
