<%= simple_form_for [@cocktail, @dose] do |f| %>
<div class="row align-items-center">
  <div class="col">
    <%= f.input :description %>
  </div>
  <div class="col">
    <%= f.association :ingredient %>
  </div>
  <div class="col">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
