.delete-icon {
  color: $lime-light;
}

.delete-icon:hover {
  color: $lime-dark;
}

.lime-light {
  background-color: $lime-light;
  color: $lime-dark;
}

.lime-light:hover {
  background-color: $lime-dark;
  color: $lime-light;
}

.lime-dark {
  background-color: $lime-dark;
  color: $lime-light;
}

.lime-dark:hover {
  background-color: $lime-light;
  color: $lime-dark;
}
